.home-selection{
    mat-card:first-child{
        margin: 70px 5px 0px 5px;
    }

    mat-card {
        margin: 15px 5px 15px 5px;

        img{
            width: calc(100% + 32px);
            max-height: 500px;
        }
    
        mat-card-content{
            text-overflow: ellipsis;
            overflow: hidden; 
            white-space: normal;
            cursor: pointer;  
    
            &.plotExtended {
                max-height: 50.7em;
            }
            &.plotMinimazed {
                max-height: 10.7em; 
                background: -webkit-repeating-linear-gradient(top, #000000, #000000ad, #00000000);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    
    }
}
