<div class="home-selection">
  <mat-card *ngFor="let movie of movieListResponse">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>{{movie.Genre}} {{movie.Year}}</mat-card-subtitle>
    </mat-card-header>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img mat-card-image [src]="movie.Poster" [alt]="movie.Title" >
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1> 
          <p>Architect & Engineer</p> 
          <p>We love that guy</p>
        </div>
      </div>
    </div>
    <mat-card-content (click)="clickPlot()" [ngClass]="isPlotExtended ? 'plotExtended' : 'plotMinimazed'">
      {{movie.Plot}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button>LIKE</button>
      <button mat-stroked-button>DETAIL</button>
    </mat-card-actions>
  </mat-card>
</div>
