.movie-card{
    margin: 20px 5px 20px 5px;

    mat-card-content{
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: normal;   

        &.plotExtended {
            max-height: 50.7em;
        }
        &.plotMinimazed {
            max-height: 10.7em; 
            background: -webkit-repeating-linear-gradient(top, #000000, #000000ad, #00000000);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}