<mat-card>
  <mat-card-header>
    <mat-card-title>{{movie.Title}}</mat-card-title>
    <mat-card-subtitle>{{movie.Genre}} {{movie.Year}}</mat-card-subtitle>
  </mat-card-header>
  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
          <img mat-card-image [src]="movie.Poster" [alt]="movie.Title">
          <button mat-icon-button>
            <mat-icon class="info">info_outline</mat-icon>
          </button>
        </div>
        <div class="flip-card-back" [ngStyle]="{'background-image': 'url(' + movie.Poster + ')', 'background-size': 'cover'}">
          <div class="data" [ngStyle]="(isDarkTheme$ | async) ? {'background-color': 'rgba(30, 30, 30, 0.9)'} : {'background-color': 'rgba(255, 255, 255, 0.9)'}">
            <table>
              <tr>
                <td>Director: </td>
                <td>{{movie.Director}}</td>
              </tr>

              <tr>
                <td>Writer: </td>
                <td>{{movie.Writer}}</td>
              </tr>

              <tr>
                <td>Actors: </td>
                <td>{{movie.Actors}}</td>
              </tr>

              <tr>
                <td>Language: </td>
                <td>{{movie.Language}}</td>
              </tr>

              <tr>
                <td>Runtime: </td>
                <td>{{movie.Runtime}}</td>
              </tr>

              <tr>
                <td>Country: </td>
                <td>{{movie.Country}}</td>
              </tr>

              <tr>
                <td>Awards: </td>
                <td>{{movie.Awards}}</td>
              </tr>
            </table>
            <br>
            <table>
              <tr *ngFor="let score of movie.Ratings">
                <td>{{score.Source}} </td>
                <td>&nbsp;{{score.Value}}</td>
              </tr>
            </table>
          </div>
        </div>
    </div>
  </div>
  <mat-card-content
    (click)="clickPlot()" 
    [ngClass]="isPlotExtended
    ? 'plotExtended' 
    : (isDarkTheme$ | async)
      ? 'plotMinimazed-dark'
      : 'plotMinimazed-light'" 
  >
    {{movie.Plot}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button>LIKE</button>
    <button mat-stroked-button>COMMENT</button>
  </mat-card-actions>
</mat-card>
