@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */
    .content{
        width: 95%;
        margin: 0 auto;
        z-index: 2;
    }
    mat-drawer{
        width: 70%;
    }
}
@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .content{
        width: 300px;
        margin: 0 auto;
        z-index: 2;
    }
    mat-drawer{
        width: 50%;
    }
}
@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .content{
        width: 400px;
        margin: 0 auto;
        z-index: 2;
    }
    mat-drawer{
        width: 20%;
    }
}
@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .content{
        width: 400px;
        margin: 0 auto;
        z-index: 2;
    }
    mat-drawer{
        width: 15%;
    }
}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */
    .content{
        width: 400px;
        margin: 0 auto;
        z-index: 2;
    }
    mat-drawer{
        width: 15%;
    }
}
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */
    .content{
        width: 400px;
        margin: 0 auto;
        z-index: 2;
    }
    mat-drawer{
        width: 10%;
    }
}

app-navbar {
    -webkit-font-smoothing: antialiased;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    box-shadow: none;
}
mat-drawer{
    position: fixed;
    top: 0;
    overflow: hidden;

    // možná se bude hodit na další řádky
    .menu-row{
        display: flex;
        //box-sizing: border-box;
        //width: 100%;
        //flex-direction: row;
        align-items: center;
        //white-space: nowrap;
    }

    span{
        &#company-name{
            font-size: 20px;
            // font-weight: 500;
        }
        font-size: 16px;
    }
}